html {
  background: url('/static/pride.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
	color: #3B3131;
}
a {
  text-decoration: None;
  color: #cc3333;
}
.head {
	width: 100%;
	background-color:rgba(255, 237, 160, 0.8);
	padding: 10px;
    font-size: 18px;
}
.head input {
    font-size: 18px;
    padding: 4px;
}
.mini {
  font-size: 80%
}
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

#outergraph {
	width: 100%;
	height: 500px;
    padding-top:10px;
    background-color:#fff;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    position:relative;
    text-align: center;
}
#innergraph {
position:absolute; top:50%; height:10em; margin-top:-5em;

	width: 100%;
}
.btn {
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:32px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.btn:hover {
	background-color:#e9e9e9;
}.btn:active {
	position:relative;
	top:1px;
}
