<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>
<script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
<body>
<h1>Hunter Gatherers</h1>
Enter a username: 
<input type="text" id='username' name="username" placeholder='eriktorenberg'><br>
<input type="radio" name="follow" value='0'> Filter by Followers
<input type="radio" name="follow" value='1' checked> All Butt-Buddies

<button id='submitBtn'>Submit</button>
<div id='dumpgraph'>
On initial load, dump ryan hoover's circle jerk<br>
add error handlers for missing users
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

$('#submitBtn').click( function(event){
  event.preventDefault();
  $("#dumpgraph").html('');
  username = $('input#username').val();
  follow = $("input[name=follow]:checked").val();
  dumpgraph('/gather/bb?username='+username);
  //dumpgraph('/gather/f?username='+username);
  $('input#username').val('');
});
// "/actions/json"
function dumpgraph(linkpile) {

var width = 960,
    height = 500

var svg = d3.select("#dumpgraph").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.05)
    .distance(100)
    .charge(-100)
    .size([width, height]);

d3.json(linkpile, function(error, json) {
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("image")
      .attr("xlink:href", "http://www.producthunt.com/favicon.ico")
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});
}
</script>