<!DOCTYPE html>
<meta charset="utf-8">
<script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
<head>
 <link rel="stylesheet" type="text/css" href="/static/hg.css">
</head>
<body>
<div class='head'>
<div style='float: left;'><img src='/static/logo.png'></div>
<h2>Who in your network kills it on Product Hunt?</h2>

Enter a username (case-sensitive):
<input type="text" id='username' name="username" placeholder='eriktorenberg'><button id='submitBtn'>Submit</button>
</div>
<div id='outergraph'>
  <div id='innergraph'>

<div id='dumpgraph'>
On initial load, dump ryan hoover's circle jerk<br>
add error handlers for missing users
</div>

</div>
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src='/static/dumpgraph.js'></script>
